@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

body {
  font-family: 'Crimson Text';
}



pre {
  max-height: 300px;
  float: left;
  width: 910px;
  overflow-y: auto;
  background-color: #555555 !important;
}

pre.r {
  max-height: none;
}
